body{
  font-family: Raleway;
  color: #555;
  background: #ff5252;
  margin: 0;
  height: 100%;
}

#homepage{
  max-width: 800px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #fdfdfd;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

input[type="text"]{
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

label{
  font-weight: bold;
}
.title{
  color: #fff;
  text-align: center;
  font-size: 48px;
}
#homepage h2{
  text-align: center;
}

/* #ninja-container{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.geocoderContainer{
  align-self: center;
  width: 100%;
}

form{
  max-width: 350px;
  margin: 15px auto;
}
input[type="submit"]{
  background: #555;
   color: #fff;
   border: 0;
   padding: 10px;
   font-size: 18px;
   width: 200px;
   margin: 0 auto;
   display: block;
   cursor: pointer;
   border-radius: 4px;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  padding: 15px 0;
  background: #eee;
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 4px;
}
span{
  display: inline-block;
  margin: 0 20px;
}
span.dist{
  color: green;
  float: right;
}
#error{
  color: rgb(2, 0, 128);
}
span.true{
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background: green;
}
span.false{
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background: #ff5252;
}

h4{
  color: white;
}

.navlink{
  color: lightgray;
  padding-left: 1.8rem;
  font-weight: bold;
  font-size: x-large;
}

.navlink:hover{
color: white;
text-decoration: none;
}

.geocoderContainer{
  position: flex;
  width: 100%;
}

.map{
 display : flex;
 justify-content: center;
 margin-bottom: 5%;
}

.map-controlls{
  display : flex;
  justify-content: left;
}  

.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list{
  padding: 0px 50px 80px;
}

.ninja-marker {
  background: none;
  border: none;
}

.ninja-marker img {
  width: 25px;
}

footer {
  background: rgb(60, 59, 59);
  color: #fff;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%
}


